@model SoccerManageApp.Models.Entities.Team

<h3>Register a team for league</h3>
<form action="/Team/CreateTeam" method="POST">
    <div class="form-group">
        <label asp-for="@Model.TeamID"></label>
        <input type="number" asp-for="@Model.TeamID"/>
        <span asp-validation-for="@Model.TeamID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TeamName"></label>
        <input type="text" asp-for="@Model.TeamName"/>
        <span asp-validation-for="@Model.TeamName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TeamImage"></label>
        <input type="text" asp-for="@Model.TeamImage"/>
        <span asp-validation-for="@Model.TeamImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.StadiumID"></label>
        <input type="number" asp-for="@Model.StadiumID"/>
        <span asp-validation-for="@Model.StadiumID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
        <a href="/Home/Index" class="btn btn-primary">Back</a>
    </div>
</form>