@model SoccerManageApp.Models.Entities.Stadium

<h3>Create Stadium</h3>
<form method="POST" action="/Stadium/CreateStadium">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.StadiumID"></label>
        <input type="number" asp-for="@Model.StadiumID"/>
        <span asp-validation-for="@Model.StadiumID"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.StadiumName"></label>
        <input type="text" asp-for="@Model.StadiumName"/>
        <span asp-validation-for="@Model.StadiumName"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Capacity"></label>
        <input type="number" asp-for="@Model.Capacity"/>
        <span asp-validation-for="@Model.Capacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.City"></label>
        <input type="text" asp-for="@Model.City"/>
        <span asp-validation-for="@Model.City"></span>
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-primary">Create</button>
        <a href="/Home/Index" class="btn btn-primary">Back</a>
    </div>

</form>