@model SoccerManageApp.Models.Entities.Match
@{
    ViewData["Title"]="Create Match";
}
@if(ViewBag.CheckExist)
{
    <h2 class="text-danger">Match existed</h2>
}
<form asp-action="CreateMatch" asp-controller="Match" method="POST">
    <div class="form-group">
        <label asp-for="@Model.MatchID">Match ID</label>
        <input asp-for="@Model.MatchID" type="number">
        <span asp-validation-for="@Model.MatchID"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Datetime">Date Time</label>
        <input asp-for="@Model.Datetime" type="datetime">
        <span asp-validation-for="@Model.Datetime"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Attendance">Attendance</label>
        <input asp-for="@Model.Attendance" type="number">
        <span asp-validation-for="@Model.Attendance"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.HomeTeamName">Home Team </label>
        <input asp-for="@Model.HomeTeamName" type="text">
        <span asp-validation-for="@Model.HomeTeamName"></span>
    </div>
     <div class="form-group">
        <label asp-for="@Model.AwayTeamName">Away Team</label>
        <input asp-for="@Model.AwayTeamName" type="text">
        <span asp-validation-for="@Model.AwayTeamName"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.StadiumID">Stadium ID</label>
        <input asp-for="@Model.StadiumID" type="number">
        <span asp-validation-for="@Model.StadiumID"></span>
    </div>

    <div class="form-group">
        
        <button type="submit" class="btn bnt-primary" >Create</button>
        <a href="/Match/ListMatches" class="btn btn-primary">Back</a>
        
    </div>
</form>

