@model SoccerManageApp.Models.Entities.Match
@{
    ViewData["Title"]="Create Match";
}
@if(ViewBag.CheckExist)
{
    <h2 class="text-danger">Match existed</h2>
}
<form asp-action="Create" asp-controller="Match" method="POST">
    <div class="form-group">
        <label asp-for="@Model.MatchID">Match ID</label>
        <input asp-for="@Model.MatchID" type="number">
        <span asp-validation-for="@Model.MatchID"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Datetime">Date Time</label>
        <input asp-for="@Model.Datetime" type="datetime">
        <span asp-validation-for="@Model.Datetime"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Attendance">Attendance</label>
        <input asp-for="@Model.Attendance" type="number">
        <span asp-validation-for="@Model.Attendance"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.HomeResTeamID">Home Team ID</label>
        <input asp-for="@Model.HomeResTeamID" type="number">
        <span asp-validation-for="@Model.HomeResTeamID"></span>
    </div>
     <div class="form-group">
        <label asp-for="@Model.AwayResTeamID">Away Team ID</label>
        <input asp-for="@Model.AwayResTeamID" type="number">
        <span asp-validation-for="@Model.AwayResTeamID"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.StadiumID">Stadium ID</label>
        <input asp-for="@Model.StadiumID" type="number">
        <span asp-validation-for="@Model.StadiumID"></span>
    </div>

    <div class="form-group">
        
        <input type="submit" value="Add Match">
        
    </div>
</form>

